*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: $font-sans;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background: $bg-deep;
    color: $text-white;
}

a { text-decoration: none; color: inherit; }
button { cursor: pointer; font-family: inherit; border: none; background: none; }
input, select, textarea { font-family: inherit; }
ul, ol { list-style: none; }
img { display: block; max-width: 100%; }

// Scrollbar
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: $bg-deep; }
::-webkit-scrollbar-thumb { background: $bg-light; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: $bg-mid; }

// datetime-local icône
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
}
